.showcase {
  background-color: #fff;
  .showcase_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    .showcase_left {
      display: flex;
      .showcase_icon {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        gap: 20px;

        .social_icons {
          display: flex;
          flex-direction: column;
          gap: 15px;
          align-items: start;
          justify-content: start;

          .social_icon {
            width: 36px;
            height: 36px;
            background: rgba(254, 173, 4, 0.5);
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            transition: background 0.3s;

            a {
              display: flex;
              align-items: center;
              justify-content: center;
              svg {
                width: 16px;
                height: 16px;
              }
            }

            &:hover {
              background: #fead04;
            }
          }
        }

        .social_text {
          display: flex;
          flex-direction: column-reverse;
          align-items: center;
          gap: 28px;

          h6 {
            width: 1px;
            height: 60px;
            background: #000;
          }

          h4 {
            font-size: 14px;
            font-weight: 600;
            color: #000;
            margin: 0;
            transform: rotate(270deg);
          }
        }
      }
      .showcase_text {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        h1 {
          font-weight: 900;
          font-size: 55px;
          line-height: 1.147;
          text-transform: uppercase;
          color: #fead04;
          background-color: #fff;
          padding: 10px;
          transform: translateX(50px);
          background: #fff;
          z-index: 900;
          width: 100%;
          border-bottom: 1px solid #000;
        }
        p {
          font-weight: 300;
          font-size: 25px;
          line-height: 1.147;
          color: #000;
          padding: 30px 0;
          width: 80%;
        }
        button {
          width: 240px;
          height: 50px;
          background: #fead04;
          font-weight: 700;
          font-size: 16px;
          line-height: 1.377;
          text-align: center;
          color: #fff;
          border: none;
          margin-right: 200px;
        }
        button:hover {
          color: #fead04;
          background-color: #fff;
          border: 1px solid #fead04;
        }
      }
    }
    .showcase_img {
      img {
        width: 840px;
        height: auto;
      }
    }
  }
}

@media (max-width: 1458px) {
  .showcase {
    .showcase_wrapper {
      .showcase_img {
        img {
          width: 800px;
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .showcase {
    .showcase_wrapper {
      .showcase_left {
        .showcase_text {
          h1 {
            font-size: 40px;
            background-color: transparent;
            border: none;
          }
        }
      }
      .showcase_img {
        img {
          width: 700px;
        }
      }
    }
  }
}

@media (max-width: 1300px) {
  .showcase {
    .showcase_wrapper {
      .showcase_left {
        .showcase_text {
          h1 {
            background-color: #fff;
            border-bottom: 1px solid #000;
          }
          p {
            margin-left: 20px;
            font-size: 20px;
          }
          button {
            margin-right: 100px;
          }
        }
      }
    }
  }
}

@media (max-width: 1180px) {
  .showcase {
    .showcase_wrapper {
      .showcase_left {
        .showcase_text {
          h1 {
            font-size: 30px;
          }
          p {
            font-size: 15px;
          }
          button {
            margin-left: 40px;
          }
        }
      }
      .showcase_img {
        img {
          width: 600px;
        }
      }
    }
  }
}

@media (max-width: 1050px) {
  .showcase {
    .showcase_wrapper {
      flex-direction: column-reverse;
      align-items: flex-start;

      .showcase_img {
        img {
          width: 100%;
          height: auto;
        }
      }

      .showcase_left {
        width: 100%;
        text-align: left;

        .showcase_icon {
          display: none;
        }

        .showcase_text {
          padding-top: 30px;
          h1 {
            font-size: 40px;
          }

          p {
            font-size: 20px;
            margin-right: 50px;
          }

          button {
            margin: 0;
            margin-right: 400px;
          }
        }
      }
    }
  }
}

@media (max-width: 870px) {
  .showcase {
    .showcase_wrapper {
      .showcase_left {
        .showcase_text {
          h1 {
            font-size: 35px;
          }

          p {
            font-size: 20px;
            margin-right: 50px;
          }

          button {
            margin: 0;
            margin-right: 330px;
          }
        }
      }
    }
  }
}

@media (max-width: 750px) {
  .showcase {
    .showcase_wrapper {
      .showcase_left {
        margin-left: -50px;
      }
    }
  }
}

@media (max-width: 700px) {
  .showcase {
    .showcase_wrapper {
      .showcase_left {
        .showcase_text {
          h1 {
            display: block;
            width: 60%;
            margin-right: 250px;
          }
          p {
            border: none;
          }
        }
      }
    }
  }
}

@media (max-width: 563px) {
  .showcase {
    .showcase_wrapper {
      .showcase_left {
        .showcase_text {
          h1 {
            margin-right: 100px;
            width: 80%;
          }
          p {
            border: none;
            margin-right: 0;
          }
          button {
            margin-right: 130px;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .showcase {
    .showcase_wrapper {
      .showcase_left {
        .showcase_text {
          h1 {
            font-size: 30px;
            margin-left: 0px;
            width: 70%;
          }
          p {
            border: none;
            margin-right: 0;
            margin-left: 60px;
          }
          button {
            margin: 0;
            margin-right: 50px;
          }
        }
      }
    }
  }
}

@media (max-width: 357px) {
  .showcase {
    .showcase_wrapper {
      .showcase_left {
        .showcase_text {
          h1 {
            font-size: 25px;
            margin-left: 0px;
            // width: 70%;
            background-color: none;
          }
          p {
            margin-right: 0;
            margin-left: 60px;
            font-size: 15px;
            padding: 20px 0;
          }
          button {
            margin: 0;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
